.item {
  margin-bottom: 6px;
  margin-top: 6px;
}
.item1 {
  margin-top: 6px;
  margin-bottom: 6px;
}
.item2 {
  margin: 6px  6px;
}
.rowout {
  border-bottom: 1px dashed #ccc;
}
.rowout:last-child {
  border: none;
}
